{% extends 'base.html' %}

{% block content %}

<div class="p-5">
    <h1 class="self-center text-center mt-1">Generate Key</h1>
    <br>
    <hr>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Current Key for RSA</h5>
            <p class="card-text">Public Key: {{ public_key }}</p>
            <p class="card-text">Private Key: {{ private_key }}</p>
            <form method="post">
            <button href="/generatekey" class="btn btn-primary">Generate New Key</button>
            </form>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Current Key for RC4 and AES</h5>
            <p class="card-text">Key: {{ rc4_key }}</p>
            <form method="post" action="/generatekey">
            <div class="input-group mb-3">
                
                <input name="rc4_key" type="text" class="form-control" placeholder="Input key" aria-label="Input key" aria-describedby="button-addon2" required>
                <button class="btn btn-primary" type="submit" id="button-addon2">Submit</button>
                
              </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}