{% extends 'base.html' %}

{% block content %}
<div class="p-5">
    <h1 class="self-center text-center mt-1">Decrypt Transcript File</h1>
    <br>
    <hr>
    <br>
    <div class="card">
        <div class="card-body">
            <form method=post enctype=multipart/form-data>
                <input class="form-control" type=file name=file>
                <br/>
                <input class="btn form-control btn-primary" type=submit value=Upload>
            </form>
        </div>
    </div>
</div>
<br>
<br>

<hr>

<div class="p-5">
    <h1 class="self-center text-center mt-1">Verify File</h1>
    <br>
    <hr>
    <br>
    <div class="card">
        <div class="card-body">
            <form method=post enctype=multipart/form-data action="/verify"> 
                <input class="form-control" type=file name=file id="verify-input">
                <br/>
                <input class="btn form-control btn-primary" type=submit value=Upload>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <br>
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {% if category == 'success' %}
                            {{ message }} is verified
                        {% else %}
                            {{ message }} is not verified
                        {% endif %}
                        <span id="flash-message" data-filename="{{ message }}"></span>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("DOM loaded");
        const fileInput = document.getElementById("fileInput");
        const fileLabel = document.getElementById("fileLabel");

        fileInput.addEventListener("change", function() {
            const filename = fileInput.files.length > 0 ? fileInput.files[0].name : '';
            fileLabel.textContent = filename;
        });

        const flashMessage = document.getElementById("flash-message");
        if (flashMessage) {
            const filename = flashMessage.dataset.filename;
            fileLabel.textContent = filename ? filename : '';
        }
    });

</script>
    
{% endblock %}